<div id="container">
    <mat-card>
        <h2>Listado de Clientes</h2>
    
        <table mat-table [dataSource]="dataSource" id="client" class="mat-elevation-z8">
          
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef>Apellido</th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef>DNI</th>
              <td mat-cell *matCellDef="let element"> {{element.dni | dniFormatter }} </td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
              <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
              <td mat-cell *matCellDef="let element"> {{element.birthDate | date : 'd/M/yy' }} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>Teléfono</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="homeAddress">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let element"> {{element.homeAddress}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element ;let i = index" style="text-align: rigth">
                  <div class="button-row">
                    <button mat-raised-button (click)="currentIndexClient(i)" href="#" color="primary"><mat-icon>edit</mat-icon> Editar</button>
                    <button mat-raised-button (click)="deleteClient(i)" href="#" color="warn"><mat-icon>delete</mat-icon> Eliminar</button>
                  </div>
              </td>
            </ng-container>


            

          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card>
    </div>

