<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Practica Final Angular</span>
    <span class="example-spacer"></span>

    <div class="button-row">
      <button mat-button routerLink="/clients/list-client"><mat-icon>home</mat-icon> Home</button>
      <button mat-button routerLink="/clients/form-client"><mat-icon>add</mat-icon> Registro</button>
    </div>

  </mat-toolbar>
